.Title {
  margin-top: 0.5em;
}

.Details {
  padding: 0 1em;

  p {
    margin: 0;
    font-size: 0.8em;
  }
}

.Status {
  display: flex;
  align-items: center;
}

.StatusCircle {
  position: absolute;
  right: 1.5em;
  &::after {
    content: "•";
    font-size: 2em;
    margin-left: 0.2em;
  }
}

.on {
  color: green;
}
.off {
  color: red;
}
