.DashboardPanelContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;

  .DashboardRow {
    flex: 1;
    
    .DashboardPanel {
      height: 100%;
      
  
    }
 
  } 

}