.LoginForm {
    width: 100%;
    width: 350px;   
    height: 300px;
    
    .login-form-button {
        span{
            width: 132px !important;
        }
        .ant-btn-loading-icon{
            position: absolute;
            left: 80px;
        }
    }

}

.Row{
    height: 100%;
}
.Space{
    width: 100%;
}
