.LoginFormFragment {
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .Card {
        
        margin-top: -50px;
        width: 320px;
        
        .LoginForm{
            
            width: 100%;
            
            .Space {
                float: right;
                
                .login-form-button {
                    width: 170px;
                }
                
            }
        }
    }
}